#profile_pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
}

.zoom-container {
    overflow: hidden;
}

#cv {
    text-decoration: none;
    color: black;
}

#research {
    background-color: #EEEEEE;
}

#timeline {
    background-color: #EEEEEE;
}

div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#secondary {
    color: grey;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    padding: 20px;
}

#links {
    margin: 0px;
}

.UoB-logo{
    height: 35px;
    width: 30px;
    margin-right: 10px;
}

.qmul-logo{
    height: 35px;
    width: auto;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    /* Change the flex direction to column when screen width is below 600px */
    #header {
      flex-direction: column; /* Flex items are laid out vertically */
    }
    .header-nav{
        padding-left: 0px;
    }
    #header-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #secondary{
        text-align: center;
    }
    .nav-links{
        padding-left: 10px;
        padding-right: 10px;
    }
  }
